:root {
  font-family: "Poppins", sans-serif;

  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);

  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);

}

*,
*::before,
*::after {
  box-shadow: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}


body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--Off-white);

}


.age-app {
  align-self: center;
  border: 1px solid var(--White);
  background-color: var(--White);
  padding: 3rem 1.5rem;
  border-radius: 2rem;
  border-bottom-right-radius: 6rem;
  min-width: 270px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.form__flex-wrapper {
  display: flex;
  gap: 1rem;
}

.form__section {
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
  width: 90px;
}

.form__label {
  color: var(--Smokey-grey);
  font-weight: 600;
  text-transform: uppercase;
}

.form__input {
  border: 1px solid var(--Light-grey);
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;

}

.form__styling-line {
  border-bottom: 1px solid var(--Light-grey);
  position: relative;
  top: 2.9rem;
  z-index: 1;

}

.form__button {
  all: unset;
  border-radius: 100%;
  background: var(--Purple);
  margin: auto;
  width: 60px;
  z-index: 2;
}

.form__button>img {
  height: 2rem;
  width: 2rem;
  margin: auto;
  padding: .8rem;
}

/* Form Errors */

.form__error-required-day,
.form__error-required-month,
.form__error-required-year,
.form__error-validation-day,
.form__error-validation-month,
.form__error-validation-year {
  display: none;
  font-size: .8rem;
  color: var(--Light-red);

}

/* .form__label--error {
  color: var(--Light-red);
}

.form__input--error {
  border-color: var(--Light-red);
} */


/* Result section */

.result {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  font-size: 3.4rem;
  font-weight: 800;
  font-style: italic;
  line-height: 1.1;
}

.result__years--purple,
.result__days--purple,
.result__months--purple {
  color: var(--Purple);
}